<header>
    <div class="top-header">
      <div class="logo">
        <a href="/">
          <img src="images/logo-mercado-liebre.svg">
        </a>
      </div>
      <form>
        <div class="search-icon">
          <input type="search" name="producto" id="producto" placeholder=" Buscar productos, marcas">
          <label for="producto" class="icon">
            <span class="fas fa-search"></span>
          </label>
        </div>
      </form>
      <div class="text-top-bar">
        <h2>
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>
    </div>
    <a href="#" class="burger">
      <i class="fas fa-bars"></i>
    </a>
    <ul>
      <nav class="main-items">
        <div class="items-left">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </div>
        <div class="items-rigth">
          <li><a href="users/register">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
          <li><a href="users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </div>
      </nav>
    </ul>
  </header>