<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>

    <!--HEADER-->

    <%- include('./partials/header') %>

      <!--Banner-->

      <div class="banner"><img src="/images/img-home-banner.jpg" class="banner.img"></div>

      <!--Main - BASADO EN TU VISITA-->
      <main>

        <div class="home-text">
          <h2 class="titular">Basado en tu última visita</h2>
        </div>

        <section class="main-products">
          <div class="tablet-show">
            <article class="card">
              <img src="/images/img-cafetera-moulinex.jpg" class="products-img">
              <hr>
              <div class="truck">
                <i class="fas fa-truck"></i>
              </div>
              <div class="pricedesc">
                <h3 class="price">$ 6.770</h3>
                <h3 class="disc">40% OFF</h3>
              </div>
              <a>
                <h3 class="descripcion">Cafetera Moulinex</h3>
              </a>
            </article>

            <article class="card">
              <img src="/images/img-macbook-pro-2019.jpg" class="products-img">
              <hr>
              <div class="truck">
                <i class="fas fa-truck"></i>
              </div>
              <div class="pricedesc">
                <h3 class="price">$ 230.000</h3>
                <h3 class="disc">20% OFF</h3>
              </div>
              <h3 class="descripcion">MacBook Pro 2019</h3>
            </article>
          </div>
          <div class="tablet-show">
            <article class="card">
              <img src="/images/img-samsung-galaxy-s10.jpg" class="products-img">
              <hr>
              <div class="truck">
                <i class="fas fa-truck"></i>
              </div>
              <div class="pricedesc">
                <h3 class="price">$ 70.500</h3>
                <h3 class="disc">10% OFF</h3>
              </div>
              <h3 class="descripcion">Samsung Galaxy S10</h3>
            </article>

            <article class="card">
              <img src="/images/img-tv-samsung-smart.jpg" class="products-img">
              <hr>
              <div class="truck">
                <i class="fas fa-truck"></i>
              </div>
              <div class="pricedesc">
                <h3 class="price">$ 23.200</h3>
                <h3 class="disc">5% OFF</h3>
              </div>
              <h3 class="descripcion">Smart TV Samsung 43"</h3>
            </article>
          </div>
        </section>

        <!--OFERTAS-->
        <div class="home-text">
          <h2 class="titular">Ofertas</h2>
        </div>
        <section class="ofertas">
          <div class="tablet-show">
            <article class="card">
              <img src="/images/img-cafetera-moulinex.jpg" class="products-img">
              <hr>
              <div class="truck">
                <i class="fas fa-truck"></i>
              </div>
              <div class="pricedesc">
                <h3 class="price">$ 6.770</h3>
                <h3 class="disc">40% OFF</h3>
              </div>
              <h3 class="descripcion">Cafetera Moulinex</h3>
            </article>

            <article class="card">
              <img src="/images/img-samsung-galaxy-s10.jpg" class="products-img">
              <hr>
              <div class="truck">
                <i class="fas fa-truck"></i>
              </div>
              <div class="pricedesc">
                <h3 class="price">$ 70.500</h3>
                <h3 class="disc">10% OFF</h3>
              </div>
              <h3 class="descripcion">Samsung Galaxy S10</h3>
            </article>
          </div>
          <div class="tablet-show">
            <article class="card">
              <img src="/images/img-macbook-pro-2019.jpg" class="products-img">
              <hr>
              <div class="truck">
                <i class="fas fa-truck"></i>
              </div>
              <div class="pricedesc">
                <h3 class="price">$ 230.000</h3>
                <h3 class="disc">20% OFF</h3>
              </div>
              <h3 class="descripcion">MacBook Pro 2019</h3>
            </article>

            <article class="card">
              <img src="/images/img-tv-samsung-smart.jpg" class="products-img">
              <hr>
              <div class="truck">
                <i class="fas fa-truck"></i>
              </div>
              <div class="pricedesc">
                <h3 class="price">$ 23.200</h3>
                <h3 class="disc">5% OFF</h3>
              </div>
              <h3 class="descripcion">Smart TV Samsung 43"</h3>
            </article>
          </div>
        </section>
      </main>

      <!--FOOTER-->
      <%- include('./partials/footer') %>
  </body>

</html>