<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>


      <main class="login-form">
        <form>
          <div>
            <label for="user-name"></label>
            <input type="text" name="nombre" id="user-name" placeholder="Nombre de usuario">
          </div>
          <div>
            <label for="pass"></label>
            <input type="password" name="Contraseña" id="pass" placeholder="Contraseña">
          </div>
          <div>
            <button class="form-btn-send" type="submit">Enviar</button>
          </div>
        </form>
      </main>

      <%- include('./partials/footer') %>

  </body>
</html>