* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Roboto", "sans-serif";
}

header {
    background: #EAC926;
    padding: 10px 10px;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.text-top-bar h2 {
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}

.text-top-bar {
    margin: 10px;
}

.logo img {
    width: 150px;
    margin:15px
}


nav.main-items {
    display: none;
    list-style: none;
}

nav.main-items div {
    display: flex;
}

nav.main-items a{
    text-decoration: none;
    font-size: 15px;
    margin: 0 12px;
    color: black
}

.items-left, .items-right {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center; 
}


header form {
    margin: 10px;
    flex: 1
}

.search-icon {
    height: 40px;
    width: 200px;
    display: flex;
    border-radius: 5px;
}

.search-icon input {
    width: 200px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    padding: 5px;
    outline: none;
}

.search-icon .icon {
    width: 40px;
    line-height: 40px;
    cursor: pointer;
    background: white;
    border-radius: 0 5px 5px 0;
    font-size: 13px;
}

div.logo {
    margin: 10px;
    width: 100px;
    flex: 1;
}

.burger {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 45px;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
}

.banner img {
    width: 100%;
}


main {
    background-color: #ebebeb;
    margin: auto;
}

.main-products {
    display: column;
    margin: auto;
    width:90%;
}

.ofertas {
    display: column;
    margin: auto;
    width: 90%;
    padding-bottom: 30px;
}


.titular {
    font-size: 24px;
    color:rgb(100, 100, 100);
    padding: 20px;
    margin-left: 50px
}

.descripcion {
    font-size: 16px;
    display: none;
}

.card {
    border: 2px solid #ccc;
    width: 80%;
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
}

.truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 30px;  
    bottom: 75px; 
    color: #39b54a;
    transition-property: transform;
    transition-duration: 1s;
}

.truck:hover {
    transform: rotate(-90deg)
}

.products-img {
    width: 80%;
    margin: auto
}

footer {
    background-color: #ffffff;
}

footer nav div i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

footer nav div i:hover {
    color: #0022AA;
}

.disc {
    color: #39b54a;
    font-size: 14px;
}

.price {
    font-size: 14px;
}

.pricedesc {
    display: flex;
    justify-content: space-around;
}

footer p {
    font-size: 14px;
}

.copyright p {
    font-size: 12px;
    margin: 10px
}

.nav-footer {
    text-align: center;
    display: block;
    margin: 30px 20px 10px;
} 

.nav-footer h4 {
    font-size: 20px;
}


.register-form, .login-form {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.register-form div, .login-form div {
    margin: 25px 0;
}

.register-form input, .login-form input{
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    width: 150px;
}

.form-perfil-input, .form-intereses-input{
    max-width: 50px
}

.register-form h3{
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
}

.form-btn-send {
    border: none;
    border-radius: 5px;
    width: 150px;
    background: #3483fa;
    padding: 5px;
    color: #ffffff;
    margin-top: 15px;
}

.form-btn-reset{
    border: none;
    border-radius: 5px;
    width: 150px;
    background: #e96278;
    padding: 5px;
    color: #ffffff;
    margin-top: 10px;
}

.form-btn-send:hover {
    background: #0022AA;
}

.form-btn-reset:hover {
    background: #ca4d62;
}

@media(min-width: 361px){
    .card:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .card {
        width: 300px
    }
    .tablet-show {
        display: flex;
    }
    .tablet-show article {
        margin: 15px 10px
    }
    .descripcion {
        color: white;
        display: block;
        cursor: pointer;
        font-weight: normal;
} 
    .descripcion:hover {
        color:black;
} 
    .register-form input, .login-form input{
    width: 320px
}
    .register-form button, .login-form button{
    width: 320px
}
.register-form div, .login-form div {
        width: 300px
    }
}

@media(min-width: 761px){
    .burger {
        display: none;
    }
    .main-products, .ofertas {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .card {
        display: flex;
        margin-right: 10px;
        width: 60%
    }
    .nav-footer {
        display: flex;
        justify-content: center;
    }
    .disc {
        font-size: 16px;
    }
    .price {
        font-size: 18px;
    }
    nav.main-items {
        display: flex;
        justify-content: space-between;
    }
}

@media(min-width: 1000px){
    .logo img {
        width: 250px
    }
    .search-icon {
        width: 300px   
    }
    .search-icon input {
        width: 500px
    }
}